<!-- @format -->
<div class="container">
    <form [formGroup]="productForm" class="form-group" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Product Name:</label>
            <input type="text" formControlName="title" class="form-control" />
            <div *ngIf="_productForm['title'].errors && _productForm['title'].touched" class="text-danger">
                <div *ngIf="_productForm['title'].errors?.['required']">
                    Product Name required
                </div>
                <div *ngIf="_productForm['title'].errors?.['maxlength']">
                    maximum length is 256 characters for Product Name.
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label>Product Category:</label>
            <select class="form-select" formControlName="category">
        <option value="">--select category--</option>
        <option *ngFor="let cat of categories">{{ cat }}</option>
      </select>
            <div class="text-danger" *ngIf="_productForm['category'].errors?.['required'] && _productForm['category'].touched">
                Product Category is required
            </div>
        </div>
        <br />
        <div class="form-group">
            <label>Product Price:</label>
            <input class="form-control" type="number" formControlName="price" />
            <div *ngIf="_productForm['price'].errors && _productForm['price'].touched" class="text-danger">
                <div *ngIf="_productForm['price'].errors?.['required']">
                    Product price is required.
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label>Product Image:</label>
            <input type="file" formControlName="image" accept="image/*" (change)="onFileChange($event)" />

            <img *ngIf="imageFile" class="img-thumbnail" [src]="imageUrl" />

            <div class="text-danger" *ngIf="_productForm['image'].errors && _productForm['image'].touched">
                <div *ngIf="_productForm['image'].errors?.['required']">
                    Product Image is required.
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <label>Product Description:</label>
            <textarea formControlName="description" class="form-control"></textarea>
            <div *ngIf="
          _productForm['description'].errors &&
          _productForm['description'].touched
        " class="text-danger">
                <div *ngIf="_productForm['description'].errors?.['required']">
                    Product Description is required
                </div>
                <div *ngIf="_productForm['description'].errors?.['maxlength']">
                    maximum length is 512 characters
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <button mat-button #addProductBtn type="submit" id="addBtn">
        Add Product
      </button>
        </div>
    </form>
</div>