<!-- @format -->

<div class="row">
    <div class="col-md-8 offset-md-2">
        <input class="form-control rounded" type="text" [(ngModel)]="titleSearch" placeholder="Search Here" />
    </div>
</div>
<table class="table">
    <thead>
        <th>Product Id</th>
        <th>Product Title</th>
        <th>Product Price</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of productList | filtersearch: titleSearch">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.price }}</td>
            <td>
                <button class="btn btn-primary" routerLink="/products/list/{{ product.id }}">
          View</button
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="onEdit(product)">Edit</button
        >&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" (click)="deleteProduct(product.id)">
          Delete
        </button>
            </td>
        </tr>
    </tbody>
</table>